@using UIComponents.Abstractions.Attributes;
@using UIComponents.Abstractions.Enums
@using UIComponents.Abstractions.Interfaces;
@using UIComponents.Abstractions.Interfaces.Services;
@using UIComponents.Abstractions.Models;
@using UIComponents.Abstractions.Extensions;
@using UIComponents.Abstractions.Models.FileExplorer
@using UIComponents.Defaults;
@using UIComponents.Models;
@using UIComponents.Models.Models;
@using UIComponents.Models.Models.Actions;
@using UIComponents.Models.Models.Buttons;
@using UIComponents.Models.Models.Card;
@using UIComponents.Models.Models.Dropdown;
@using UIComponents.Models.Models.Icons;
@using UIComponents.Models.Models.Inputs;
@using UIComponents.Models.Models.Texts;
@using UIComponents.Web.Extensions;

@inject IUICLanguageService L

@model GetFilesForDirectoryResultModel

<table class="table">
    <thead>
        <tr>
            <th name="Icon">@await Html.TranslateHtml(L, new("FileExplorer.Icon"))</th>
            <th name="FileName">@await Html.TranslateHtml(L, new("FileExplorer.FileName"))</th>
            <th name="FileType">@await Html.TranslateHtml(L, new("FileExplorer.FileType"))</th>
            <th name="LastModified">@await Html.TranslateHtml(L, new("FileExplorer.LastModified"))</th>
            <th name="Size">@await Html.TranslateHtml(L, new("FileExplorer.Size"))</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Files)
        {
            item.Data["data-AbsolutePath"] = item.AbsolutePathReference;
            item.Data["data-RelativePath"] = item.RelativePath;
            <tr class="explorer-item @(item.IsFolder?"explorer-folder":"")" @Html.GetAttributesFromDictionary(item.Data)>
                <td>@Html.Raw(item.Icon)</td>
                <td>@Html.Raw(item.FileName)</td>
                <td>@Html.Raw(item.FileType??item.Extension)</td>
                <td>@Html.Raw(item.LastModified.ToString())</td>
                <td>@Html.Raw(item.Size)</td>
            </tr>
        }
    </tbody>
</table>