@using UIComponents.Abstractions;
@using UIComponents.Abstractions.Attributes;
@using UIComponents.Abstractions.Interfaces;
@using UIComponents.Abstractions.Interfaces.Services;
@using UIComponents.Abstractions.Models;
@using UIComponents.Abstractions.Extensions;
@using UIComponents.Models;
@using UIComponents.Models.Models;
@using UIComponents.Models.Models.Actions;
@using UIComponents.Models.Models.Buttons;
@using UIComponents.Models.Models.Dropdown;
@using UIComponents.Models.Models.Icons;
@using UIComponents.Models.Models.Inputs;
@using UIComponents.Models.Models.Texts;
@using UIComponents.Web.Extensions;

@model UICSingleRow

@{
    string id = Model.GetId();
    Model.AssignCollectionForChildren();

    List<Type> SupportedTypes = new() { typeof(UICInputGroup) };


    foreach(var child in Model.Components)
    {
        if(child is IUISingleRowSupport singleRowSupport)
        {
            singleRowSupport.TransformToSingleRow();
        }
    }


    bool lastHadSupport = false;
    Model.AddStyle(
    @<text>
        #@id .singlerow-groups{
            display: grid;
            grid-template-columns: minmax(@(Model.MinLabelWidth ?? "50px"), auto) minmax(@(Model.MinInputWidth ?? "auto"), 1fr);
            grid-template-rows: 1fr;
            grid-row-gap: @(Model.MarginBetweenRows ?? "0.25rem");
            grid-column-gap: @(Model.MarginBetweenColumns ?? "0.25rem");
            padding-bottom: @(Model.MarginBetweenRows ?? "0.25rem");
        }
    </text>);
}



<div @Html.Raw(Model.GetHtmlAttributes())>
@foreach(var element in Model.Components)
{
    if (element == null)
        continue;
    if(element is UIComponent component)
    {
        if (!component.Render)
            continue;
    }
    bool hasSingleRowSupport = (element is IUISingleRowSupport supportsSingleRow && supportsSingleRow.RendersInSingleRow());

    if(!lastHadSupport && hasSingleRowSupport)
    {
        @Html.Raw("<div class=\"singlerow-groups\">")
    } else if(lastHadSupport && !hasSingleRowSupport)
    {
        @Html.Raw("</div>")
    }
    lastHadSupport = hasSingleRowSupport;
    @await element.InvokeAsync(Component)
}
@if(lastHadSupport)
    @Html.Raw("</div>")
    
</div>
    
@await Model.RenderStylesAndScripts(Component)