@using UIComponents.Abstractions;
@using UIComponents.Abstractions.Attributes;
@using UIComponents.Abstractions.Enums
@using UIComponents.Abstractions.Interfaces;
@using UIComponents.Abstractions.Interfaces.Services;
@using UIComponents.Abstractions.Models;
@using UIComponents.Abstractions.Extensions;
@using UIComponents.Defaults;
@using UIComponents.Models;
@using UIComponents.Models.Models;
@using UIComponents.Models.Models.Actions;
@using UIComponents.Models.Models.Buttons;
@using UIComponents.Models.Models.Card;
@using UIComponents.Models.Models.Dropdown;
@using UIComponents.Models.Models.Icons;
@using UIComponents.Models.Models.Inputs;
@using UIComponents.Models.Models.Tables;
@using UIComponents.Models.Models.Tables.TableColumns
@using UIComponents.Models.Models.Texts;
@using UIComponents.Web.Extensions;

@model UICTable

@{

    bool hasId = !String.IsNullOrEmpty(Model.GetAttribute("id"));
    if (!hasId)
        Model.SaveFiltersInLocalStorage = false;

    if (Model.Selecting)
        Model.AddClass("has-selecting");

    string id = Model.GetId();
    Model.AssignCollectionForChildren();

    if (string.IsNullOrEmpty(Model.PagingSelector))
        Model.PagingSelector = $"paging-{id}";

    if (Model.Minimal)
        Model.AddClass("jsgrid-minimal");

    if (Model.Height.ToLower() == "auto")
        Model.AddClass("no-scroll");

    if (Model.PageSize != int.MaxValue && Model.PageSize > 0 && !Model.InfinitePaging)
        Model.AddScript(@<text>
            uic.jsgrid.pager_generate(@Html.JsEncode(id, "'"), @Html.JsEncode(Model.PagingSelector,"'"));
        </text>
    );

    if(Model.DelayedAction != null)
    {
        Model.DelayedAction.Action = new UICCustom(
        @<text>
            if(await checkCanReload()){
                $('#@id').trigger('uic-forceReload')
            } else{
                tryReload = true;
            }
        </text>);
    }

    if (Model.OnInsertButtonClick.HasValue())
        Model.AddScript(@<text>
            setTimeout(()=>{
                $('#@id .jsgrid-insert-mode-button').off('click');
                $('#@id .jsgrid-insert-mode-button').on('click', async(args)=>{
                    @await Model.OnInsertButtonClick.InvokeAsync(Component)
                });
            },500);
            </text>
    );

    if (Model.EnableTooltip)
        Model.AddScript(@<text>
            setTimeout(()=>{
                $('#@id td').each(()=>{
                    if($(this).attr('title'))
                        return;
                    $(this).attr('title', $(this).text());
                });
            }, 500);
            </text>
    );

    if (Model.OnRowClick.HasValue())
        Model.AddClass("has-row-click");

    //When the control column is already defined, or AddControlColumn is true with at least one of the change options enabled
    if (Model.Columns.Any(x => x is UICTableColumnControl) || (Model.AutoAddControlColumn && (Model.EnableInsert || Model.EnableUpdate || Model.EnableDelete)))
    {
        Model.AddControlColumn(x =>
        {
            if(x.Inserting == null)
                x.Inserting = (Model.EnableInsert && Model.OnInsertItem.HasValue()) || Model.OnInsertButtonClick.HasValue();
            
            if(x.EditButton == null)
                x.EditButton = Model.EnableUpdate && Model.OnUpdateItem.HasValue();

            if(x.DeleteButton == null)
                x.DeleteButton = Model.EnableDelete && Model.OnDeleteItem.HasValue();
        });

    }


    Model.AddScript(@<text>
            @Html.UICHelp(Model, "uic.jsgrid.help")

            let canReload = true; //Can the JsGrid Reload
            let tryReload = false; //If Reload Denied, set this true
            let reloadConditions = []; // This is a list of reloadConditions. If all conditions return true, reload is enabled.
            let lastFilters = null;
            let currentData = [];

            let checkCanReload = async function(){
                if(!canReload)
                    return false;

                for(let i=0; reloadConditions.length>i; i++){
                    let condition = reloadConditions[i];
                    let result = await condition();
                    if(!result)
                        return false;
                }
                return true;
            };
            $('#@id').on('uic-reload', (ev)=>{
                ev.stopPropagation();
                @if(Model.DelayedAction != null && Model.DelayedAction.Miliseconds > 0){
                    @await Model.DelayedAction.InvokeAsync(Component)
                } else{
                     <text>
                    if(checkCanReload()){
                        $('#@id').trigger('uic-forceReload')
                    } else{
                        tryReload = true;
                    }
                    </text>
                }
                
            });
            $('#@id').on('uic-forceReload', (ev)=>{
                ev.stopPropagation();
                $('#@id').jsGrid('loadData');
            });

            $('#@id').on('uic-reloadConditionChanged', (ev)=>{
                ev.stopPropagation();
                if(!tryReload)
                    return;
                if(!checkCanReload())
                    return;

                tryReload = false;
                $('#@id').trigger('uic-reload');
            });
            $('#@id').on('uic-addReloadCondition',(ev, condition)=>{
                ev.stopPropagation();
                reloadConditions.push(condition);
            });
            $('#@id').on('uic-enableReload', (ev)=>{
                ev.stopPropagation();
                canReload = true;
                $('#@id').trigger('uic-reloadConditionChanged');
            })
            $('#@id').on('uic-disableReload', (ev)=>{
                ev.stopPropagation();
                canReload = false;
            });

            $('#@id').on('uic-getLastFilters', ev=>{
                return lastFilters;
            });

            $('#@id').on('uic-currentData', ev=>{
                ev.stopPropagation();
                return $('#@id').jsGrid('option', 'data');
            });

            $('#@id').jsGrid({
                height: @Html.JsEncode(Model.Height, "'"),
                width: @Html.JsEncode(Model.Width,"'"),

                selecting: @Json.Serialize(Model.Selecting), 
                filtering : @Json.Serialize(Model.Filtering),
                inserting: @Json.Serialize(Model.EnableInsert && Model.OnInsertItem.HasValue()),
                editing: @Json.Serialize(Model.EnableUpdate && Model.OnUpdateItem.HasValue()),
                deleting: @Json.Serialize(Model.EnableDelete && Model.OnDeleteItem.HasValue()),
                sorting: @Json.Serialize(Model.Sorting),
                paging: true,
                pageLoading: true,
                pageSize: @Json.Serialize(Model.PageSize),

                onInit: async function(args){
                    @if(Model.OnInit.HasValue()){
                        <text>
                            @await Model.OnInit.InvokeAsync(Component)
                        </text>
                    } else{
                        var defaultFilterObject= new Dictionary<string, object>();
                        foreach(var column in Model.Columns.Where(x=>x is UICTableColumn tableColumn && tableColumn.PropertyInfo != null && tableColumn.DefaultFilter != null).OfType<UICTableColumn>()){
                            defaultFilterObject[column.PropertyInfo.Name] = column.DefaultFilter;
                        }
                        <text>
                        let result = await uic.jsgrid.onInit('@id', @Json.Serialize(Model.SaveFiltersInLocalStorage), args, @Html.Raw(Model.Sorter?.ToString()??"null"), @Json.Serialize(defaultFilterObject));
                        </text>
                    }
                    $('#@id').trigger('uic-initialized');
                },
                onDataLoaded: async function(args){
                    $('#@id').trigger('uic-dataLoaded', args);
                    @await Model.OnDataLoaded.InvokeAsync(Component)
                },
                onItemEditing: async function(args){
                    $('#@id').trigger('uic-editingData', args);
                    @await Model.OnDataEditing.InvokeAsync(Component)
                },
                @if(Model.OnItemDeleting.HasValue()){
                    <text>
                    onItemDeleting: async function(args){
                        @await Model.OnItemDeleting.InvokeAsync(Component)
                    },
                    </text>
                }
               
                @if(Model.OnRowClick.HasValue() || !Model.EditOnRowClick)
                {
                    <text>
                    rowClick: async function(args){
                        @await Model.OnRowClick.InvokeAsync(Component)
                    },
                    </text>
                }

                fields: [
            @foreach(var column in Model.Columns)
            {
                <text>
                    @await column.InvokeAsync(Component)
                </text>
            }
                ],
                controller: {
                    loadData: async (args) => {
                        args = $('#@id').triggerHandler('uic-getFilters', args) || args; //The 'on.('uic-getFilters')' may change the filter arguments.
                        $('#@id').trigger('uic-beforeFetch');
                        lastFilters = args;
                        @if(Model.SaveFiltersInLocalStorage)
                        {
                        <text>
                        try{
                            localStorage.setItem("Grid.@(id).Filters", JSON.stringify(args));
                        }catch{}
                        </text>
                        }
                        return await getPagedData(args);
                    },
                    @if(Model.EnableInsert && Model.OnInsertItem.HasValue()){
                        if(Model.OnInsertItem is UICActionGetPost getpost && !getpost.GetVariableData.HasValue()){
                            getpost.GetVariableData = new UICCustom("item");
                        }
                        <text>
                        insertItem: async function(item){
                            $('#@id').trigger('uic-beforeInsert', item);
                            @await Model.OnInsertItem.InvokeAsync(Component)
                            $('#@id').trigger('uic-afterInsert', item);
                        },
                        </text>
                    }
                    @if(Model.EnableUpdate && Model.OnUpdateItem.HasValue()){
                        if(Model.OnUpdateItem is UICActionGetPost getpost && !getpost.GetVariableData.HasValue()){
                            getpost.GetVariableData = new UICCustom("item");
                        }
                        <text>
                        updateItem: async function (item) {
                            $('#@id').trigger('uic-beforeUpdate');
                            @await Model.OnUpdateItem.InvokeAsync(Component)
                            $('#@id').trigger('uic-afterUpdate');
                        },
                        </text>
                    }
                    @if(Model.EnableDelete && Model.OnDeleteItem.HasValue()){
                        if(Model.OnDeleteItem is UICActionGetPost getpost && !getpost.GetVariableData.HasValue()){
                            getpost.GetVariableData = new UICCustom("item");
                        }
                        <text>
                         deleteItem: async function(item){
                            $('#@id').trigger('uic-beforeDelete');
                            @await Model.OnDeleteItem.InvokeAsync(Component)
                            $('#@id').trigger('uic-afterDelete');
                        },
                        </text>
                    }
                },
                @if(Model.RowRenderer.HasValue()){
                    <text>
                    rowRenderer: function(item, index){
                        @await Model.RowRenderer.InvokeAsync(Component)
                    },
                    </text>
                }
                @if(Model.ReplaceLoadingIndicator){
                    <text>

                    loadIndicator : {
                        show: function(){
                            uic.partial.showLoadingOverlay($('#@id .jsgrid-grid-body'));
                        },
                        hide: function(){
                                uic.partial.hideLoadingOverlay($('#@id .jsgrid-grid-body'));
                            },
                        },
                    </text>
                }
                @await Model.AdditionalConfig.InvokeAsync(Component)
            });

            @if(Model.Resizable){
                <text>
                $('#@id').on('uic-afterFetch', ()=>{
                    setTimeout(()=>{
                        uic.jsgrid.resizeColumn($('#@id'));
                    },1);
                });
                </text>
            }
            @if(Model.SaveOnBlur || Model.SaveOnEnter)
            {
                <text>
                $('#@id').on('uic-editingData', (ev, args)=>{
                    @if(Model.SaveOnBlur)
                    {
                        <text>
                let oldEditRow = $('#@id .jsgrid-edit-row');
                if(oldEditRow.length)
                    $('#@id').jsGrid('updateItem');
                            
                            // oldEditRow.find('.jsgrid-update-button').click();
                        </text>
                    }

                    @if(Model.SaveOnEnter)
                    {
                    <text>
                        setTimeout(()=>{
                        
                            let editRow = $('#@id .jsgrid-edit-row');
                        
                            editRow.on('keyup', (ev)=>{
                                if(ev.keyCode == 13)
                                    editRow.find('.jsgrid-update-button').click();
                            });
                        },100);
                    </text>
                    }
                });
                </text>
            }
            $('#@id').trigger('uic-addReloadCondition', ()=>{
                if($('#@id .jsgrid-partial-content').length){
                    console.log('Reloading is blocked by partial content!')
                    return false;
                }
                return true;
            });
            $('#@id').on('uic-closePartial', (ev)=>{
                $('#@id').trigger('uic-reloadConditionChanged');
            });

            let getPagedData = async function(args){
                @if(Model.Data != null && Model.Data.Any()){
                    <text>
                        let result = uic.jsgrid.filterClientSide(args, @Json.Serialize(Model.Data));
                        result = uic.jsgrid.pageClientSide(result, args.pageIndex, args.pageSize);
                                
                        $('#@id').trigger('uic-afterFetch', [result, args]);
                        currentData = result.data;
                        return result;
                    </text>
                } else if(Model.LoadData is UICActionGetPost getpost){
                    if(!getpost.GetVariableData.HasValue())
                        getpost.GetVariableData = new UICCustom("{filter: args}");
                    <text>
                        @await Model.LoadData.InvokeAsync(Component)

                        @if(Model.FilterClientSize){
                            <text>
                            let filterData = @(Html.JsEncode(getpost.ResultName))["data"] || @(Html.JsEncode(getpost.ResultName));
                            filterData = uic.jsgrid.filterClientSide(args, filterData);
                            if( @(Html.JsEncode(getpost.ResultName))["data"] == undefined){
                                @(Html.JsEncode(getpost.ResultName)) = filterData;
                            } else {
                                @(Html.JsEncode(getpost.ResultName))["data"] = filterData;
                            }
                            </text>
                        }

                        @Html.JsEncode(getpost.ResultName) =  uic.jsgrid.pageClientSide(@Html.JsEncode(getpost.ResultName), args.pageIndex, args.pageSize);
                        
                        $('#@id').trigger('uic-afterFetch', [@Html.JsEncode(getpost.ResultName), args]);
                        return @Html.JsEncode(getpost.ResultName);
                    </text>
                } else{
                    <text>
                    @await Model.LoadData.InvokeAsync(Component);
                    </text>
                }
            }

            @if(Model.InfinitePaging)
            {
                <text>
                let pageIndex = 1;
                let nextPageDisabled = true;
                let triggerHeight = null;
                let loadNextPage = async function(){
                    if(nextPageDisabled)
                        return;
                    nextPageDisabled = true;
                    let filters = $('#@id').triggerHandler('uic-getLastFilters');

                    pageIndex += 1;
                    filters.pageIndex = pageIndex;
                    let existingData = $('#@id').triggerHandler('uic-currentData');
                    let result = await getPagedData(filters);
                    existingData.push(...result.data);
                    $('#@id').jsGrid('option', 'data', existingData);
                    triggerHeight = null;
                    if(filters.pageSize <= result.data.length)
                        nextPageDisabled = false;
                }
                $('#@id').on('uic-dataLoaded', ev=> {
                    nextPageDisabled = false;
                    triggerHeight = null;

                    pageIndex = 1;
                });

            $('#@id').on('uic-initialized', ()=>{
                $('#@id .jsgrid-pager-container').remove();
            });

                $('#@id').scrollParent()[0].onscroll = ()=>{
                    let scrollParent = $('#@id').scrollParent();
                    if(triggerHeight == null){
                        let gridPositions = $('#@id')[0].getBoundingClientRect();

                        let gridBottom = gridPositions.bottom - gridPositions.top;
                        triggerHeight = gridBottom - Math.min(gridPositions.height/4, 1000);
                        //reloading happens when you reach 3/4 of the table, or a max of 1000 pixels from the end of the table.
                    }
                    if(scrollParent.scrollTop() + Math.min(scrollParent.innerHeight(), window.innerHeight) >= triggerHeight)
                        loadNextPage();

                }
                </text>
            }

            </text>);
}

<div id="@($"{id}-container")">
    <div @Html.Raw(Model.GetHtmlAttributes())>

    </div>
</div>
@await Model.SignalRRefreshTriggers.InvokeAsync(Component)
@await Model.RenderStylesAndScripts(Component)
